<div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
  สาขาวิชา: &nbsp;
  <mat-form-field *ngIf="datamajor" style="width: 20%;">
    <mat-label>{{ "โปรดเลือกสาขาวิชา" }}</mat-label>
    <mat-select required>
      <mat-option
        *ngFor="let i of datamajor; let x = index"
        [value]="i.name"
        (click)="
          namegroupch(
            i.acronym,
            i.branch_id,
            i.name,
            i.titlename,
            i.fname,
            i.lname
          )
        "
      >
        {{ i.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />

  <span *ngIf="branch_id != null"
    >หัวหน้าสาขาวิชา:&nbsp;&nbsp;{{ nameBH }}&nbsp;&nbsp;</span
  >
  <br />

  <span *ngIf="branch_id != null"
    >กลุ่มเรียน :&nbsp;&nbsp;<mat-form-field>
      <mat-label>{{ "โปรดเลือกกลุ่มเรียน" }}</mat-label>
      <mat-select required>
        <mat-option
          *ngFor="let i of dataGroup; let x = index"
          [value]="i.study_group_id"
          (click)="
            nameGroup_Student(
              i.branch_id,
              i.study_group_id,
              i.study_group_name,
              i.username,
              i.titlename,
              i.fname,
              i.lname
            )
          "
        >
          {{ i.study_group_name }}
        </mat-option>
      </mat-select>
    </mat-form-field></span
  >
  <br />

  <span *ngIf="nameAD != null"
    >อาจารย์ที่ปรึกษา : &nbsp;&nbsp;{{ nameAD }}</span
  >
  <br />
  <br />
  <form [formGroup]="data2" #formChange="ngForm" (ngSubmit)="data2.valid ? addStudent() : ''">
  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#addStudent"
    *ngIf="nameAD != null"
    (click)="clearFrom(formChange)"
  >
    <i class="fas fa-plus"></i>&nbsp;เพิ่มนักศึกษา
  </button>

  <!-- The Modal -->
  <div class="modal" id="addStudent">
    <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">เพิ่มนักศึกษา</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            สาขาวิชา : &nbsp;&nbsp; {{ name_th }} <br /><br />
            กลุ่มเรียน : &nbsp;&nbsp; {{ groupName }} <br /><br />
            อาจารย์ที่ปรึกษา : &nbsp;&nbsp; {{ nameAD }} <br />
            รหัสนักศึกษา :&nbsp;&nbsp;<mat-form-field
              class="example-full-width"
            >
              <input
                matInput
                placeholder="กรอกรหัสประจำตัวนักศึกษา"
                formControlName="code"
                required
                ngModel
              />
            </mat-form-field>
            <br />
            คำนำหน้า : &nbsp;&nbsp;<mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="กรอกคำนำหน้า"
                formControlName="prefix"
                required
                ngModel
              />
            </mat-form-field>
            <br />
            ชื่อ :&nbsp;&nbsp;<mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="กรอกชื่อ"
                formControlName="fname"
                required
                ngModel
              />
            </mat-form-field>
            <br />
            นาสกุล :&nbsp;&nbsp;<mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="กรอกนามสกุล"
                formControlName="lname"
                required
                ngModel
              />
            </mat-form-field>
            <br />

            เบอร์ติดต่อ :&nbsp;&nbsp;<mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="กรอกเบอร์โทรศัพท์"
                formControlName="tel"
                required
                ngModel
              />
            </mat-form-field>
            <br />
            Email :&nbsp;&nbsp;<mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="กรอก Email"
                formControlName="email"
                required
                ngModel
              />
            </mat-form-field>
            <br />
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Close
            </button>
            <button type="submit" class="btn btn-success">
              Save
            </button>
          </div>

      </div>
    </div>
  </div>
</form>
</div>

<mat-form-field
  class="example-full-width"
  style="float: right; width: 500px; padding-right: 50px;"
  [hidden]="!branch_id"
>
  <input matInput placeholder="ค้นหา" #se />
</mat-form-field>
<br /><br />

<table class="table table-striped" *ngIf="dataStudent != null">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ลำดับ</th>
      <th scope="col">รหัสนักศึกษา</th>
      <th scope="col">ชื่อนักศึกษา</th>
      <th scope="col">เบอร์โทรติดต่อ</th>
      <th scope="col">E-mail</th>
      <th scope="col">สถานะ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of dataStudent; let x = index">
      <th scope="row">{{ x + 1 }}</th>
      <td>
        {{ i.username }}
      </td>
      <td>{{ i.titlename }}{{ i.fname }}&nbsp;{{ i.lname }}</td>
      <td>{{ i.phone }}</td>
      <td>{{ i.e_mail }}</td>
      <td>{{ status }}</td>
      <td>
        <span
          (click)="
            updateST(
              i.username,
              i.titlename,
              i.fname,
              i.lname,
              i.name,
              i.group_code,
              i.branch_code,
              i.phone,
              i.e_mail
            )
          "
          ><i
            class="fas fa-edit"
            style="font-size: 18px; cursor: pointer;"
            title="อัพเดทข้อมูล"
            data-toggle="modal"
            data-target="#updateST"
          ></i
        ></span>
        &nbsp;&nbsp;&nbsp;
        <span (click)="deleteStudent(i.username)"
          ><i
            class="fas fa-trash-alt"
            style="font-size: 18px; color: red; cursor: pointer;"
            title="ลบข้อมูล"
          ></i
        ></span>
      </td>
    </tr>
  </tbody>
</table>

<!-- The Modal -->
<div class="modal" id="updateST">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">แก้ไขข้อมูลนักศึกษา</h4>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <form [formGroup]="data1" (ngSubmit)="data1.valid ? updateStudent() : ''">
        <!-- Modal body -->
        <div class="modal-body">
          รหัสนักศึกษา :&nbsp;&nbsp;{{ nameST }}
          <br />

          คำนำหน้า : &nbsp;&nbsp;<mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="กรอกคำนำหน้า"
              formControlName="prefix"
              required
              ngModel
            />
          </mat-form-field>
          <br />
          ชื่อ : &nbsp;&nbsp;<mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="กรอกชื่อ"
              formControlName="fname"
              required
              ngModel
            />
          </mat-form-field>
          <br />
          นาสกุล : &nbsp;&nbsp;<mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="กรอกนาสกุล"
              formControlName="lname"
              required
              ngModel
            />
          </mat-form-field>
          <br />

          <br />

          เบอร์ติดต่อ :&nbsp;&nbsp;<mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="กรอกเบอร์โทรศัพท์"
              formControlName="tel"
              required
              ngModel
            />
          </mat-form-field>
          <br />
          Email :&nbsp;&nbsp;<mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="กรอก Email"
              formControlName="email"
              required
              ngModel
            />
          </mat-form-field>
          <br />
          สาขาวิชา :
          <mat-form-field *ngIf="datamajor" style="width: 30%;">
            <mat-label>{{ major }}</mat-label>
            <mat-select formControlName="major" required ngModel>
              <mat-option
                *ngFor="let i of datamajor; let x = index"
                [value]="i.branch_id"
                (click)="getBranch(i.branch_id)"
              >
                {{ i.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br />
          <span *ngIf="branch">
            กลุ่มเรียน :&nbsp;&nbsp;<mat-form-field>
              <mat-label>{{ "โปรดเลือกกลุ่มเรียน" }}</mat-label>
              <mat-select formControlName="group" required ngModel>
                <mat-option
                  *ngFor="let i of dataGroup1; let x = index"
                  [value]="i.study_group_id"
                >
                  {{ i.study_group_name }}
                </mat-option>
              </mat-select>
            </mat-form-field></span
          >
          <br />
        </div>
      </form>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          data-dismiss="modal"
          (click)="updateStudent()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
