<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <div class="text-center">
        <img
          src="./assets/rmuti.png"
          class="w3-round"
          style="width:40%; text-align: center"
        />
      </div>
      <div style="text-align: center;"><b>{{dataProfile}}</b></div>
    <mat-nav-list *ngIf="status=='Admin'">
      <a mat-list-item [routerLink]="['/admin/manage-data']" [routerLinkActive]="['link-active']">จัดการข้อมูล</a>
      <a mat-list-item [routerLink]="['/admin/student-data']" [routerLinkActive]="['link-active']">ข้อมูลนักศึกษา</a>
      <a mat-list-item [routerLink]="['/admin/data-advice']" [routerLinkActive]="['link-active']">ข้อมูลการปรึกษา</a>
      <a mat-list-item (click)="onLogout()"><font color ="red"><i><u>ออกระบบ</u></i></font></a>
    </mat-nav-list>

    <mat-nav-list *ngIf="status=='นักศึกษา'">
      <a mat-list-item [routerLink]="['/student/uploadfile-data']" [routerLinkActive]="['link-active']">จัดการข้อมูล</a>
      <!-- <a mat-list-item [routerLink]="['/admin/student-data']" [routerLinkActive]="['link-active']">ข้อมูลนักศึกษา</a> -->
      <a mat-list-item [routerLink]="['/student/counsel-data']" [routerLinkActive]="['link-active']">ข้อมูลการปรึกษา</a>
      <a mat-list-item (click)="onLogout()"><font color ="red"><i><u>ออกระบบ</u></i></font></a>
    </mat-nav-list>

    <mat-nav-list *ngIf="status=='อาจารย์'">
       <a mat-list-item [routerLink]="['/teacher/teacher-data']" [routerLinkActive]="['link-active']">จัดการข้อมูล</a>
      <a mat-list-item [routerLink]="['/teacher/student-upload']" [routerLinkActive]="['link-active']">ข้อมูลนักศึกษา</a>
      <a mat-list-item [routerLink]="['/teacher/counsel-data']" [routerLinkActive]="['link-active']">ข้อมูลการปรึกษา</a>
      <a mat-list-item (click)="onLogout()"><font color ="red"><i><u>ออกระบบ</u></i></font></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <svg class="bi bi-three-dots-vertical" width="2.5em" height="2.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
      </button>
      <span>ระบบแฟ้มอาจารย์ที่ปรึกษา (สาขาวิศวกรรมคอมพิวเตอร์)<br />Advisor file
        system</span>
    </mat-toolbar>
<router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
