  <div class="panel panel-default" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;margin-left: 10px;">
    <div class="panel-heading">
      <h1 style="padding-top: 15px;">ข้อมูลนักศึกษา</h1>
    </div>
    <div class="panel-body" style="margin-left: 10px;margin-right: 10px;">
      สาขาวิชา : &nbsp; <mat-form-field>
        <mat-label>*เลือกสาขาวิชา</mat-label>
        <mat-select>
          <mat-option></mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      กลุ่มเรียน : &nbsp; &nbsp; <mat-form-field>
        <mat-label>*เลือกกลุ่มเรียน</mat-label>
        <mat-select>
          <mat-option></mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      ภาคการศึกษา : &nbsp; <mat-form-field>
        <mat-label>*เลือกปีการศึกษา</mat-label>
        <mat-select>
          <mat-option></mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      &nbsp; / &nbsp;
      <mat-form-field>
        <mat-label>*เลือกภาคการศึกษา</mat-label>
        <mat-select>
          <mat-option></mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <br>





      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John</td>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>
              <button type="button" class="btn btn-primary" style="margin-right: 5px;">ประวัติการศึกษา</button>
              <button type="button" class="btn btn-danger "style="margin-right: 5px;">ผลการศึกษา</button>
              <button type="button" class="btn btn-warning">ตารางเรียน</button>
            </td>
          </tr>
          <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
            <td>
              <button type="button" class="btn btn-primary">Primary</button>
              <button type="button" class="btn btn-danger">Primary</button>
              <button type="button" class="btn btn-warning">Primary</button>
            </td>
          </tr>
          <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
            <td>
              <button type="button" class="btn btn-primary">Primary</button>
              <button type="button" class="btn btn-danger">Primary</button>
              <button type="button" class="btn btn-warning">Primary</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>




