<div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
  สาขาวิชา: &nbsp;

  <mat-form-field *ngIf="datamajor" style="width: 20%;">
    <mat-label>{{ "โปรดเลือกสาขาวิชา" }}</mat-label>
    <mat-select required>
      <mat-option
        *ngFor="let i of datamajor; let x = index"
        [value]="i.name"
        (click)="
          nameMajor (
            i.acronym,
              i.branch_id,
              i.name,
              i.titlename,
              i.fname,
              i.lname
          )
        "
      >
        {{ i.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <span *ngIf="branch_id != null"
  >หัวหน้าสาขาวิชา:&nbsp;&nbsp;{{ nameBH }}&nbsp;&nbsp;</span
  >
  <br />

  <span *ngIf="branch_id != null"
      >กลุ่มเรียน :&nbsp;&nbsp;<mat-form-field>
        <mat-label>{{ "โปรดเลือกกลุ่มเรียน" }}</mat-label>
        <mat-select required>
          <mat-option
            *ngFor="let i of dataGroup; let x = index"
            [value]="i.study_group_id"
            (click)="
              nameGroup_Student(
                i.branch_id,
                i.study_group_id,
                i.study_group_name,
                i.username,
                i.titlename,
                i.fname,
                i.lname
              )
            "
          >
            {{ i.study_group_name }}
          </mat-option>
        </mat-select>
      </mat-form-field></span
    >
    <br />

    <span *ngIf="nameAD != null"
      >อาจารย์ที่ปรึกษา : &nbsp;&nbsp;{{ nameAD }}</span
    >
    <br />
    <br />

  </div>
    <table class="table table-striped" *ngIf="dataStudent != null">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ลำดับ</th>
          <th scope="col">รหัสนักศึกษา</th>
          <th scope="col">ชื่อนักศึกษา</th>
          <th scope="col">เบอร์โทรติดต่อ</th>
          <th scope="col">E-mail</th>
          <th scope="col">สถานะ</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of dataStudent; let x = index">
          <th scope="row">{{ x + 1 }}</th>
          <td>
            {{ i.username }}
          </td>
          <td>{{ i.titlename }}{{ i.fname }}&nbsp;{{ i.lname }}</td>
          <td>{{ i.phone }}</td>
          <td>{{ i.e_mail }}</td>
          <td>{{ status }}</td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
